.productDetail {
  display: flex;
  margin: 2rem 10rem;

  div {
    margin: 0 20px;
  }
}

.productDetail__nav {
  margin: 1rem 10rem;
  span {
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  small {
    margin: 0 5px;
  }
}

.productDetail__left img {
  object-fit: contain;
  width: 420px;
}

.productDetail__right {
  min-width: 220px;
  border-radius: 4px;
  border: 1px #ccc solid;
  padding: 20px;
}

.productDetail__center-rating {
  display: flex;
  position: relative;
  right: 20px;
  align-items: center;

  .productDetail__center-rating-length {
    margin-left: 15px;
    color: #0066c0;
  }
}

.productDetail__right {
  h2 {
    color: #b12704 !important;
    margin-bottom: 10px;
  }

  h5 {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    display: flex;
    align-items: center;
    span {
      color: #007600;
      position: relative;
    }

    .not-inStock {
      color: #8b0000 !important;

      svg {
        position: relative;
        top: 5px;
      }
    }
  }

  button {
    background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
    border-color: #a88734 #9c7e31 #846a29;
    text-transform: capitalize;
    cursor: pointer;
    padding: 5px 8px;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid;
    width: 100%;
    display: flex;
    align-items: center;

    svg {
      margin-right: 30px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.productDetail__center {
  height: 100%;
  h3 {
    margin-top: 2rem;
    font-family: Roboto-Bold;
  }
}

.productDetail__right button:not(:last-child) {
  margin-top: 2rem;
}

.productDetail__center p {
  margin-top: 0.5rem;
}

.productDetail__mobile {
  display: none;
}

.productDetail__center-specs {
  margin: 0 !important;
  margin-top: 40px !important;
  p {
    margin-top: 0.8rem;
    font-size: 13px !important;
    font-family: Roboto-Bold;

    span {
      font-family: Roboto;
      margin-left: 5px;
      color: #333;
    }
  }
}

.productDetail__right-qty {
  margin: 0 !important;
  margin-top: 10px !important;
  border: 1px #000 solid;
  min-width: 75px;
  padding: 5px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  background-color: #e7e9ec;
  border-radius: 3px;

  select {
    border: none;
    background-color: #e7e9ec;
  }
}

.m-0 {
  margin-top: 0;
  font-size: 14px !important;
}

@media screen and (max-width: 1500px) {
  .productDetail {
    margin: 2rem 5rem;
  }
}

@media screen and (max-width: 1400px) {
  .productDetail,
  .productDetail__nav {
    margin: 2rem 2.5rem;
  }
}

@media screen and (max-width: 1230px) {
  .productDetail {
    margin: 2rem 0rem;
  }
  .productDetail__nav {
    margin: 1rem 1rem;
  }
}

@media screen and (max-width: 1100px) {
  .productDetail {
    display: none;
  }

  .productDetail__mobile {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;

    width: 90%;
  }

  .productDetail__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }
  .productDetail__right button {
    max-width: 200px;
  }

  .productDetail__left-mobile {
    width: 100%;

    h2 {
      margin: 1rem 0;
      font-size: 22px;
    }

    h3 {
      margin-top: 2rem;
      font-family: Roboto-Bold;
    }

    p {
      margin: 0.5rem 0;
      margin-bottom: 2rem;
      color: #333;
    }
  }

  .mobile {
    margin: 1rem;
    margin-bottom: 2rem;
  }

  .productDetail__left-mobile img {
    width: 100%;
    object-fit: contain;
  }
}
