.product__home {
  display: flex;
  z-index: 1;
  max-width: 99vw;
  margin: auto 0;
  overflow-x: scroll;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 400px;
  min-width: 320px;
  padding: 10px 20px;
  z-index: 1;
  margin: auto 20px;
  background-color: #fff;

  h2 {
    transition: color 0.2s ease-in;
    font-size: 16px;
    &:hover {
      color: $second-color;
      cursor: pointer;
    }
  }
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;

  small {
    position: relative;
    bottom: 5px;
  }

  strong {
    font-size: 21px;
  }
}

.product__rating {
  display: flex;
  align-items: center;
  .product__numReviews {
    font-size: 14px;
    color: #0066c0;
    margin-left: 5px;
  }
}

.product img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

@media screen and (max-width: 1400px) {
  .product__home {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .product__home {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 590px) {
  .product {
    min-height: 320px;
    min-width: 220px;
    max-height: 350px;
    max-width: 220px;
  }

  .product img {
    width: 100%;
    max-height: 140px;
    object-fit: contain;
    margin-bottom: 15px;
  }

  .product__info p {
    font-size: 0.8rem;
  }
}

.product__home::-webkit-scrollbar {
  display: none;
}
