.profile {
  background-color: #fff;
  display: flex;
  align-items: center;
  margin: 2rem 10rem;
  height: 100%;
  h1 {
    font-size: 22px;
  }
}

.profile-left {
  flex: 0.2;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      position: relative;
      bottom: 5px;
      font-size: 12px;
    }
  }
}

.profile-right {
  flex: 0.8;
  margin-left: 5rem;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1595px) {
  .profile {
    margin: 2rem 5rem;
  }
}

@media screen and (max-width: 1443px) {
  .profile {
    margin: 2rem 2.5rem;
  }
  .profile-right {
    margin-left: 2.5rem;
  }
}

@media screen and (max-width: 1325px) {
  .profile {
    margin: 2rem 0.5rem;
  }
  .profile-right {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 1230px) {
  .profile {
    flex-direction: column;
  }
  .profile-right {
    margin-top: 2rem;
    margin-left: 0;
    width: 95%;
  }
  .profile-left {
    width: 95%;
  }
}
