.shipping {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 82vh;
}

.shipping__container {
  width: 367px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 0;
  border: 1px solid lightgray;

  button {
    font-size: 10px;
  }
}

.shipping__container h1 {
  font-weight: 500px;
  margin-bottom: 20px;
}

.shipping__container form h5 {
  margin-bottom: 5px;
}

.shipping__container form input {
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 98%;
  padding: 0 5px;
}

.shipping__container p {
  margin-top: 15px;
  font-size: 12px;
}
