// Dropdown
.dropdown {
  display: block;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.2s;
}

.dropdown ul {
  position: absolute;
  top: 75px;
  right: 170px;
  display: flex !important;
  flex-direction: column !important;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);

  svg {
    margin-right: 5px;
  }
}

.dropdown ul li .fas {
  margin-left: 10px;
}

.dropdown ul:before {
  content: '';
  position: absolute;
  top: -13%;
  right: 17%;
  transform: translateX(-50%);
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.dropdown a {
  display: flex;
  align-items: center;
  color: #666;
  margin: 2px 0;
}

.dropdown a:hover {
  color: $second-color;
}

.dropdown ul li:not(:last-child) {
  border-bottom: 1px #ccc double;
}

@media screen and (max-width: 590px) {
  .dropdown {
    display: none;
  }
}
