 .footer {
  border-top: 1px solid lightgray;
  padding: 20px;
  background-color: #f7f7f7;
  text-align: center;
  width: 100%;

}

.footer > p {
  padding: 5px;
  font-size: 14px;
} 

// .main-footer{
//   color: rgb(12, 12, 12);
//   background-color: rgb(236, 240, 240);
//   padding-top: 3em;
//   position: relative;
//   bottom: 0;
//   width: 100%;
  
// }
// .main-footer i   {
//   font-size: 17px;
//   display: inline-block;
//   background: #28251f;
//   color: #fff;
//   line-height: 1;
//   padding: 9px 0;
//   margin-right: 5px;
//   border-radius: 100%;
//   text-align: center;
//   width: 36px;
//   height: 36px;
//   transition: 0.4s;

// }
// li {
//   display: inline;
// }